.dropdown.comment-emoticon-dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
    %i.fa.fa-meh-o 
    %i.fa.fa-caret-down
  %ul.dropdown-menu
    %li
      %i.fa.fa-smile-o
      Positiv
    %li
      %i.fa.fa-meh-o
      Neutral
    %li
      %i.fa.fa-frown-o
      Negativ