.dropdown.comment-emoticon-dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
    %i.fa.fa-meh-o#symbol
    %i.fa.fa-caret-down
  %ul.dropdown-menu
    %li
      %a{href: '#', class: 'positive-emotion'}
        %i.fa.fa-smile-o   
        Positiv
    %li
      %a{href: '#', class: 'neutral-emotion'}
        %i.fa.fa-meh-o
        Neutral
    %li
      %a{href: '#', class: 'negative-emotion'}
        %i.fa.fa-frown-o
        Negativ