.container
  %section
    .inner-container
      .row
        .span3  
        .span6
          %img{:src => "assets/godasamtalet.png"}
          %br
          %h1 - Nu även online!

          %p 
            Välkommen till Initiativ Samutvecklings nya forum!
            Detta forum har utformats speciellt för att skapa en involverande beslutsprocess. Tack vare våra vänner på Evolute kommer detta verktyg att förändras och växa med oss, så ifall du har åsikter om programmet, tyck gärna till på deras hemsida!
          %p
            Klicka på "logga in" uppe till höger för att logga in och sätta igång! Samutvecklingen väntar!
