$pages-background: #F2F1ED;
$app-background: #DBDBDB;
$text-on-bg: $mid-grey;
.pages-nav-logo{
	margin-top: -10px;
  display: block;
  width: 46px;
  height: 46px;
  background: image-url("islogo.png") 0 0 no-repeat;
  background-size: 100%
}
.app-logo, .app-logo.beta{
  width: 46px;
  margin: 0px 0 0 10px;
  height: 46px;
  background: image-url("islogo.png") 0 0 no-repeat;
  background-size: 100%
}