$pages-background: #F2F1ED;
$app-background: #DBDBDB;
$text-on-bg: $mid-grey;
.pages-nav-logo{
  display: block;
  width: 136px;
  height: 36px;
  background: image-url("islogo.png") 0 0 no-repeat;
}
.app-logo, .app-logo.beta{
  width: 93px;
  margin: 9px 0 0 10px;
  height: 40px;
  background: image-url("islogo.png") 0 0 no-repeat;
}