.container
  %section
    .inner-container
      %h1 Tips & Stöd
      
      %p
        %i Denna sida innehåller vägledning för goda samtal på nätet.

      %h3 
        %u Hjälp att komma igång

      %p Här har du en kort introduktion till hur du använder verktyget.

      <iframe src="//player.vimeo.com/video/81429221" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><i>Videon är gjord av <a href="http://www.loomio.org">Loomio</a>, våra vänner på Nya Zeeland, som har gjort plattformen som vi vidareutvecklar för iS!. Tack Loomio!</i></p>   	

      %h3 
        %u Initiativ Samutvecklings hederskodex

      %p Inom Initiativ Samutveckling är det mindre viktigt vad vi ”tycker” och desto viktigare hur vi förhåller oss till varandra. Vi har därför utvecklat en hederskodex, som vi efter förmåga strävar efter att följa vid alla tillfällen. Det gäller både gentemot oss själva, varandra och när vi möter allmänheten.

      %p 
        .fa.fa-chevron-circle-right
        %b Alltid tala sanning
        %br Samutvecklare talar sanning.
      
      %p 
        .fa.fa-chevron-circle-right
        %b Att följa sitt hjärta och visa vad man tycker och känner
        %br Samutvecklare kompromissar inte med sina verkliga åsikter, känslor och värderingar, även om det kan vara obekvämt.

      %p 
        .fa.fa-chevron-circle-right 
        %b Att vara beredd att själv utmana sina åsikter
        %br Samutvecklare ingår i ett öppet samtal där vi försöker nå fram till det gemensamma bästa och därför måste vi vara beredda att utmana våra egna åsikter. Detta förutsätter samtidigt att alla åsikter och perspektiv ges utrymme.
      
      %p 
        .fa.fa-chevron-circle-right
        %b Att ge varandra utrymme att byta åsikt
        %br Vi vet alla hur svårt det kan kännas att skifta perspektiv när man har en stark övertygelse. Denna beundransvärda förmåga, att erkänna sina egna begränsningar och synliggöra sin personliga utveckling, ges därför stort erkännande inom Initiativ Samutveckling. Att ge varandra detta utrymme kräver en särskild finkänslighet som vi odlar tillsammans.
      
      %p 
        .fa.fa-chevron-circle-right
        %b Att vara uppmärksam gentemot andra
        %br Samutvecklare garanterar varandra en uppriktig uppmärksamhet och respekt för var och ens tankar, känslor och perspektiv.
      
      %p 
        .fa.fa-chevron-circle-right 
        %b Att aldrig kompromissa samvete för makt
        %br Det politiska spelet kan ibland erbjuda makt och position emot att vi kompromissar med våra samveten. Samutvecklare väljer samvetets sida även om det kan vara obekvämt i ögonblicket.
      
      %p 
        .fa.fa-chevron-circle-right 
        %b Att efter förmåga upprätthålla det goda samtalet
        %br Vi gör allt vi kan för att hålla liv i ett gott samtal där verkligt utbyte får ske och där alla känner sig inkluderade, hörda och sedda.
      
      %p 
        .fa.fa-chevron-circle-right
        %b Välvillighetsprincipen
        %br Upprätthållandet av det goda samtalet har en gyllene regel: nämligen att man anstränger sig att tolka den andres utsagor (i tal, gester, skrift eller vad som helst) så välvilligt som möjligt. Man tolkar den andre på det sätt som man själv anser vara det bästa möjliga, att den andre är förnuftig och vill något gott.

      %p 
        %i Denna hederkodex bör ses som allmänna riktlinjer och inte som fasta regler. Ingen, mer eller mindre aktiv person, får lov att förebrås eller tillrättavisas utifrån vår hederskodex. Tanken är helt enkelt att ju fler av oss som tillämpar dessa riktlinjer, och efter hand som vi lär oss tillämpa dem, desto bättre samtal får vi och desto bättre kan vi samskapa nya perspektiv och lösningar. Vi litar på att alla andra gör sitt bästa för att göra detsamma. Vi skapar en ny politisk kultur.

      %h3 
        %u Vad vi gör framåt

      %p Detta är som du märker en plattform under utveckling. Idag stödjer vi i första hand kollektivt beslutsfattande tack vare att vi bygger på Loomio.
      %p Vi kommer att steg-för-steg lägga till mer funktionalitet som stödjer dialog och mer avancerade funktioner för kollektiv intelligens m.m.
      %p Vår vision är att göra en plattform som är; lättanvänd, kul och lärande samt dessutom självmodererande.
      %p Vi blir då förhoppningsvis mogna och glada digitala medborgare på ett nät som skapar närhet och bjuder in till samskapande.
      %p Vi hoppas att näthat och andra destruktiva tendenser bara var barnsjukdomar på resan hit…

      %p
        %br 
        .fa.fa-chevron-circle-right
        %b Hjälp oss att utveckla plattformen genom att:
        %br
        %br
        .fa.fa-angle-right
        %i Vara en samutvecklare
        %br Hittar du en bugg, eller har en idé på en funktion du saknar, skriv in detta under kategorin Community för verktygets utveckling
        %br
        .fa.fa-angle-right
        %i Sprid vidare på Almedalen!
        %br Bjud med en kompis och lär upp honom/henne i det goda samtalet.
        %br
        .fa.fa-angle-right
        %i Bli vår ambassadör
        %br Tipsa en organisation/företag som du tror skulle må bra av att få sin kollektiva intelligens förlöst.

      %p Tack på förhand <a href="http://www.evolutesystems.org">Evolute Systems</a>

